button{
	border-radius:0;
	border:none;
	background-color:blue;
	color:white;
	font-size:30px;
	position: fixed;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
	opacity:0.5;
}
button:hover{
	opacity:1;
	box-shadow: 10px 10px 30px;
}
button:active{
	border: 5px solid green;
	box-shadow:none;
	opacity:0.5;
}
body{
	background-color:lightblue;
}
